

  <!-- Main Container -->
  <div class="container mt-4">
    <!-- Heading Section -->
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">More about Alpha_blog</h1>
        
      </div>
    </div>

 