

  <div class="container mt-4">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-4">Welcome to the Home Page</h1>
        <p class="lead">Here is some content for the home page.</p>
      </div>
    </div>
    <div>
      <%= link_to 'signup', signup_path, class: 'btn btn-primary m-4 ml-5' %>
    </div>

    <!-- Article Cards Section -->
    <div class="row">
      <!-- Example Article 1 -->
      <div class="col-md-4">
        <div class="card">
          <img src="https://dustinstout.com/wp-content/uploads/2015/06/how-to-write-a-blog-1920x1080.jpg" class="card-img-top" alt="Article Image">
          <div class="card-body">
            <h5 class="card-title">Article 1</h5>
            <p class="card-text">This is a brief description of the article. It provides some insight into the content of the article.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>

